.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: var(--spacing-sm);
  border-width: 1px;
  border-left-width: 3px;
  border-style: solid;
  border-radius: var(--radius-md);
  overflow: hidden;
}

.editorWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
